@import 'tokens.css';

:root {
	background-color: var(--color-gray-950);
	color: var(--color-gray-300);
	text-align: center;
	font-family: 'Funnel Sans', system-ui;
}

form {
	margin: 0 auto;
	padding: 1rem;
	border: 3px solid var(--color-gray-700);
	border-radius: 1rem;
	display: grid;

	input, button {
		margin: 1rem 0;
		padding: 1rem;
		box-sizing: border-box;
		width: 100%;
		font-size: 1.5rem;
		text-align: center;
		border: 3px solid var(--color-gray-400);
		border-radius: 1rem;
		background-color: var(--color-gray-900);
		color: var(--color-primary-200);
		text-transform: uppercase;

		&:focus {
			outline: none;
		}
	}

	input[type="submit"], button {
		color: var(--color-gray-100);
		background-color: var(--color-primary-500);
		border: 3px solid var(--color-primary-300);
		cursor: pointer;

		&:hover {
			color: var(--color-gray-50);
			background-color: var(--color-primary-400);
			border: 3px solid var(--color-primary-200);
		}
	}

	.username-input {
		text-transform: none;
	}
}

.session-id {
	margin-bottom: 2rem;
}

.chat, .transaction {
	text-align: left;
	height: calc(100dvh - 12rem);
	display: grid;
	grid-template-rows: 1fr auto;
	padding-top: 0;

	.messages {
		overflow-y: auto;
	}

	input {
		text-align: left;
		text-transform: none;
		font-size: 1rem;
		padding: .5rem;
		height: 3rem;
		margin-bottom: 0;
	}

	.actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		button {
			font-size: 1rem;
		}
	}

	p {
		.time {
			font-size: .75rem;
			margin-right: .5rem;
		}
		
		.user {
			font-weight: 900;
		}
	}
}