:root {
  --color-primary-50: #f0f9f4;
  --color-primary-100: #daf1e3;
  --color-primary-200: #b9e1cc;
  --color-primary-300: #8acbac;
  --color-primary-400: #59ae88;
  --color-primary-500: #37926d;
  --color-primary-600: #267556;
  --color-primary-700: #22674e;
  --color-primary-800: #1b4a39;
  --color-primary-900: #173d30;
  --color-primary-950: #0c221b;

  --color-gray-50: #f6f6f6;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #888888;
  --color-gray-500: #666666;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #4f4f4f;
  --color-gray-800: #454545;
  --color-gray-900: #3d3d3d;
  --color-gray-950: #262626;
}
